.news_insights_events {

    &__grid {
        display: grid;
        gap: 1rem;
        @media (min-width:992px) {
            grid-template-columns: 1fr 2fr;
        }
    }


    &__news_post {
        color: var(--col-black);
        text-decoration: none;
        position: relative;

        .news_insights_events__content {
            padding: 1rem;
            &--noimage {
                display: grid;
                grid-template-rows: 2rem auto auto;
                height: 100%;
            }
        }
        .icon-sm {
            width: 25px;
            height: 25px;
        }
        .overlay {
            position: absolute;
            inset: 0;
            background-color: rgba(0 0 0 / 0.25);
            opacity: 0;
            pointer-events: none;
            transition: opacity var(--transition);
        }
        &:hover {
            color: var(--col-black);
            .overlay {
                opacity: 1;
            }
        }

        .news_insights_events__image {
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }

        .news_insights_events__excerpt {
            align-self: end;
        }

    }

    &__meta {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }


    &__news {
        display: grid;
        gap: 1rem;
        grid-template-rows: 2rem auto 2rem;
    }
    &__insights {
        display: grid;
        gap: 1rem;
        grid-template-rows: 2rem auto auto 2rem;
    }

}


.latest_insights {
    &__grid {
        display: grid;
        gap: 1rem;
        @media (min-width:768px) {
            grid-template-columns: repeat(3,1fr);
        }
    }
}