.people {
    &__card {
        background-color: var(--col-beige-400);
        padding: 1rem;
        display: grid;
        grid-template-rows: auto 1fr 1.5rem;
        height: 100%;
    }
    &__image {
        aspect-ratio: 1;
        width: 130px;
        object-fit: cover;
    }

    &__name {
        border-bottom: 1px solid var(--col-grey-900);
        text-align: center;
        padding-bottom: 1rem;
    }

    &__specialisms {
        list-style: none;
        padding-inline-start: 0;
        li {
            padding-block: 0.25rem;
            border-bottom: 1px solid var(--col-grey-900);
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
    }
}

.single_people {
    padding-top: var(--h-top);
    li.menu-item#menu-item-2792 a {
        font-weight: var(--fw-400) !important;
    }
    &__hero {
        img {
            height: 100px;
        }
    }

    &__summary {
        display: grid;
        grid-template-areas: "image" "links" "specialisms" "contact";
        gap: 1rem;
        @media (min-width:768px) {
            grid-template-areas: "image image" "name links" "specialisms contact";
        }
        @media (min-width:992px) {
            grid-template-areas: "image name links" "image specialisms contact";
            grid-template-columns: auto 1fr 1fr;
            column-gap: 1rem;
            row-gap: 0;
        }
        padding: 1rem;
        background-color: var(--col-beige-400);
    }
    &__image {
        grid-area: image;
        aspect-ratio: 1;    
        width: 200px;
        object-fit: cover;
        margin-inline: auto;
    }
    &__name {
        grid-area: name;
    }
    &__links {
        grid-area: links;
        justify-self: center;
        @media (min-width:992px) {
            justify-self: end;
        }
        .fa-stack {
            font-size: 1rem;
        }
        a, span[type="button"] {
            color: var(--col-black);
            transition: color var(--transition);
            &:hover {
                color: var(--col-orange-400);
            }
        }
    }
    &__specialisms {
        grid-area: specialisms;
        border-top: 1px solid var(--col-grey-900);
        .single_people__list {
            list-style: none;
            padding-inline-start: 0;
            li {
                padding-block: 0.25rem;
                border-bottom: 1px solid var(--col-grey-900);
            }
        }
    }
    &__contact {
        grid-area: contact;
        border-top: 1px solid var(--col-grey-900);
        padding-top: 0.25rem;
        div {
            display: grid;
            grid-template-columns: 2rem auto;
            padding-bottom: 0.25rem
        }
        a {
            font-weight: var(--fw-400);
            color: var(--col-black);
            text-decoration: none;
            &:hover {
                color: var(--col-orange-400);
            }
        }
    }
}

.people_slider {
    &__slide {
        padding: 1rem;
        background-color: var(--col-beige-400);
    }
    &__image {
        aspect-ratio: 1;
        width: 100%;
        object-fit: cover;
    }
}