.subscribe_cta {
    form {
        display: grid;
        gap: 0.5rem;
        @media (min-width:576px) {
            grid-template-columns: 2fr 1fr;
        }
        input[type="submit"] {
            padding: 0.6rem 3rem;
            border: none;
            width: 100%;
        }
    }
}