header {
    .prenav {
        font-size: var(--fs-200);
        a {
            text-decoration: none;
        }
        .active {
            background-color: var(--col-black);
            a {
                color: var(--col-white);
            }
        }
        .inactive {
            background-color: var(--col-grey-400);
            a {
                color: var(--col-black);
            }
        }
    }
    .prenav, .navbar {
        position: fixed;
        width: 100%;

        transition: top var(--transition);
    }

    .prenav {
        top: 0;
        z-index: 9999;
    }
    .navbar {
        background-color: var(--col-white);
        top: 0;
        padding-top: 1rem;
        z-index: 9998;
    }

    .hidden {
        top: -115px;
    }
}